#div1{
    background-color: #1a31c9;
    height: 200px
}

#div2{
    height: 400px;
    background-color: #ffffff;
}

#div3{
    height: 20%;
    background-color: #de0c0c;
}



#btn1{
    background-color: #ffdd1c;
}

#btn2{
    background-color: #ffdd1c;
}

#btn3{
    background-color: #ffdd1c;
}